header {
  background-color: #2f2f2f;
  height: 153px; }
  header h1 {
    color: white;
    font-size: 34px;
    line-height: 150px;
    font-weight: normal; }

#content h2 {
  margin-top: 25px; }
  #content h2 a {
    color: black;
    font-size: 30px;
    text-decoration: none; }

aside {
  background-color: #cfcfcf;
  padding-bottom: 250px;
  margin-top: 8px; }
  aside h3 {
    color: #333333;
    margin-bottom: 20px;
    margin-top: 28px;
    font-size: 18px; }
  aside menu li {
    list-style: none;
    margin-bottom: 20px;
    margin-left: 0; }
    aside menu li a {
      color: #333333;
      text-decoration: underline; }

footer p {
  text-align: center;
  padding: 45px;
  background-color: #cfcfcf; }
