@import _config
@import _basic-mixins
@import _basic-functions

body
	

header
	background-color: #2f2f2f
	height: 153px

	h1
		color: white
		font-size: 34px
		line-height: 150px
		font-weight: normal		

#content
	h2
		margin-top: 25px
		a
			color: black
			font-size: 30px
			text-decoration: none

aside
	background-color: #cfcfcf
	padding-bottom: 250px	
	margin-top: 8px

	h3
		color: #333333
		margin-bottom: 20px
		margin-top: 28px
		font-size: 18px		

	menu
		li
			list-style: none
			margin-bottom: 20px
			margin-left: 0

			a
				color: #333333
				text-decoration: underline
		

footer
	p
		text-align: center
		padding: 45px
		background-color: #cfcfcf
	
